{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChiSiamo</title>
    <link rel="stylesheet" href="{% static 'css/chisiamo.css' %}">
</head>
<body>
    <header>
        <div>
            <h1> Hotel Ristorante il Castagno, una storia di famiglia </h1>
        </div>
    </header>
    <main>
        <div>
            <div>
                <p>
                    Siamo tre fratelli - Valerio, Luciano, lo chef Claudio Tarsi - insieme a tutto il nostro 
                    affiatato team familiare e collaboratori esterni, che dal lontano 1988 gestiamo con 
                    passione e dedizione il Ristorante Hotel Il Castagno a Orciano di Pesaro, un punto di 
                    riferimento gastronomico del territorio che ha saputo evolversi negli anni offrendo una 
                    cucina di qualità e un'ospitalità calorosa. 
                </p>
            </div>
            <div>
                <p>
                    Il nome "Il Castagno" rende omaggio ad un maestoso ippocastano secolare che un 
                    tempo adornava il giardino retrostante. Questa pianta imponente non era solo un 
                    elemento paesaggistico, ma una vera e propria presenza familiare, tanto che la sua 
                    scomparsa è stata vissuta con profondo dolore. In suo ricordo, e con grande orgoglio, 
                    la famiglia Tarsi ha mantenuto il nome, celebrando la sua memoria in ogni angolo 
                    della struttura. 
                    All'interno del Ristorante Hotel Il Castagno, gli ospiti possono scoprire degli omaggi a 
                    questa magnifica pianta: quadri, fotografie e, naturalmente, il nome stesso ne 
                    perpetuano il ricordo.
                </p>
            </div>
            <div>
                <p>
                    Il nostro obiettivo è quello di far sentire i nostri ospiti immersi nella vera ospitalità 
                    italiana, quella fatta di calore sincero, attenzione premurosa e un'atmosfera familiare 
                    che li faccia sentire a casa fin dal primo istante. Desideriamo coccolarli con 
                    esperienze culinarie caserecce e tradizionali, che sappiano raccontare la ricchezza del 
                    nostro territorio.
                </p>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>