{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <main>
        <!-- Form Presentazione Hotel, si collega al chisiamo.html (contatti generali per info) -->
        <form action="#" method="post">
            <input type="submit" name="redirect" value="aboutus">
        </form>
        <!-- Form Presentazione Hotel, si collega a hotel.html (ha un form di registrazione + contatti specifici) -->
        <form action="#" method="post">
            <input type="submit" name="redirect" value="hotel">
        </form>
        <!-- Form Presentazione Ristorante, si collega a ristorante.html (ha un form di registrazione + contatti specifici) -->
        <form action="#" method="post">
            <input type="submit" name="redirect" value="resturant">
        </form>
        <!-- Form Presentazione Bar/Gelateria, non ha collegamenti -->
         
        <!-- Form Presentazione Location Eventi, si collega a eventi (ha un form di registrazione + contatti specifici) -->
        <form action="#" method="post">
            <input type="submit" name="redirect" value="events">
        </form>
    </main>
    <footer>
        <!-- Gallery / Recensioni di google -->
    </footer>
</body>
</html>