<!-- home.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReadWritePDF</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>ReadWritePDF</h1>
            <p class="tagline">Your PDF Companion</p>
        </div>
        <nav class="nav">
            <a href="{% url 'help' %}">Help</a>
        </nav>
    </header>

    <main class="main container">
        <form method="post" class="menu">
            {% csrf_token %}
            <button type="button" name = "action" value="read">📖 Read PDF</button>
            <button type="button" name = "action" value="write">✏️ Overwrite PDF</button>
            <button type="button" name = "action" value="save">💾 Save Changed PDF</button>
        </form>
        <form class="pdf-display">
            {% csrf_token %}
            <div>
                {% for pdf in pdf_files %}
                    <button type="submit" name="selected_pdf" value="{{ pdf }}">
                        {{ pdf }}
                    </button>
                {% endfor %}
            </div>
        </form>
        {% if messages %}
            {% for message in messages %}
            <p style="color: red;">{{message}}</p>
            {% endfor %}
        {% endif %}
    </main>

    <footer class="footer">
        <p>&copy; 2025 ReadWritePDF. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>